@import './variables.scss';

.theme_switcher {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color);
  width: 130px;
  background-color: var(--bg-color);

  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  }
}